<!DOCTYPE html>
<html>
<head>
	<title>{% block title  %}Q&A{% endblock %}</title>
</head>
    <body>
        {% block content %}{% endblock %}
         <div class="sidebar">
             {% block sidebar %}
                 <h2>Navigation</h2>
                 <p><a href="/">Home</a></p>
                 <p><a href="/popular/">Popular Questions</a></p>
                 <p><a href="/ask/">Ask Question</a></p>
                 <p><a href="/login/">Log In</a></p>
                 <p><a href="/signup/">Sign Up</a></p>
                 <p><a href="/logout/">Log Out</a></p>
             {% endblock %}
         </div>
    </body>
</html>
