{% extends "base.html" %}

{% block title %}
	{{ block.super }} - Question 
{% endblock %}

{% block content %}
    <hr>
    <h1>{{ question.title }}</h1>
    <p>{{ question.text }}</p>
    <hr>
    {% for answer in answers %}
	   <h1>{{ answer.author }}</h1>	
    	<h1>{{ answer.added_at }}</h1>
	   <p>{{ answer.text }}</p>
	   <hr>
    {% endfor %}

    <form method="POST" action="/answer/">
        {% csrf_token %}
        {{ form.as_ul }}
        <button type="submit">Save</button>
    </form>
{% endblock %}